/* ============ LAYOUT SECTION ============ */
body {
	background-color: #9c9f84;
	margin: 0px;
	font-family: Verdana, Georgia, serif;
	font-size: 14px;
}
/* ============ HEADER SECTION ============ */
#header {
	background-color: #5c755e;
	margin: 5px;
	height: 90px;	/*height: 110px;*/
	border-radius: 5px;
}
/* ============ HEADINGS SECTION ============ */
/*For header*/
h3 {
	font-size: 250%;
	text-align: center;
	color: #e5e4d7;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	margin: 0px;
	/*Vertical alignment of h3 is done with following 5 lines*/
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#logo {
    max-height: 100%;
    max-width: 100%;
    float: left;
}